/node_modules
/public/hot
/public/storage
/storage/*.key
/logs
/vendor
/.composer
/.ssh

.bash_history
.htaccess
.viminfo
composer.phar
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
