.table-row{
    cursor:pointer;
}
a {
    color: inherit;
    text-decoration: none; /* no underline */
}
a:hover {
    color: inherit;
    text-decoration: none; /* no underline */
}
.table-link {
    color: inherit; /* blue colors for links too */
}
.table td {
    padding: 0;
}
.table-link:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
    background-color: grey;
}
.link-cell {
    top: 50%;
    height: 2em;
}
td a {
    display: block;
    padding: 16px;
}